# Ignore node_modules folders in any directory
node_modules/

# Ignore .env files in any directory
*.env

# Ignore build artifacts or other common files
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db